.header h1 {
	color: black;
	font-size: 48px;
	font-weight: bold;    
	font-family: Georgia;
}

.header h2 {
	color: black;
	font-size: 20px;
	font-weight: bold;    
	font-family: Georgia;
}

.container h2 {
	color: black;
	font-size: 20px;
	font-weight: bold;    
	font-family: Georgia;
}

.header h2 {

}

.header li {

}

.container h2 {

}

.container h3{

}

.container li {

}

.container p {

}